@font-face {
  font-family: "shanti";
  src: url('/css/fonts/shanti-regular.ttf') format('truetype'), url('/css/fonts/shanti-regular.svg') format('svg'), url('/css/fonts/shanti-regular.woff') format('woff');
}

/* line 17, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../scss/_antiscroll.scss */
.antiscroll-wrap {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

/* line 7, ../scss/_antiscroll.scss */
.antiscroll-scrollbar {
  background: #679fd2;
  position: absolute;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: linear 300ms opacity;
  -moz-transition: linear 300ms opacity;
  -o-transition: linear 300ms opacity;
}

/* line 16, ../scss/_antiscroll.scss */
.antiscroll-scrollbar-shown {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 20, ../scss/_antiscroll.scss */
.antiscroll-scrollbar-horizontal {
  height: 7px;
  bottom: 2px;
  left: 0;
}

/* line 26, ../scss/_antiscroll.scss */
.antiscroll-scrollbar-vertical {
  width: 8px;
  margin-top: 2px;
  right: 0;
  top: 0;
}

/* line 33, ../scss/_antiscroll.scss */
.antiscroll-inner {
  overflow: scroll;
}

/* line 37, ../scss/_antiscroll.scss */
.antiscroll-inner::-webkit-scrollbar, .antiscroll-inner::scrollbar {
  width: 0;
  height: 0;
}

/** antiscroll **/
/* line 46, ../scss/_antiscroll.scss */
.box, .box .antiscroll-inner {
  width: 300px;
  height: 100%;
  height: 450px;
}

/* line 54, ../scss/_antiscroll.scss */
.box-wrap {
  margin-top: 8px;
}

/* line 55, ../scss/_antiscroll.scss */
.antiscroll-inner {
  overflow: auto;
}

/* line 8, ../scss/style.scss */
body {
  font-family: "shanti", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../scss/style.scss */
#wrapper {
  width: 100%;
  height: 100%;
}

/* line 16, ../scss/style.scss */
#left {
  width: 300px;
  position: fixed;
  background: #fff;
  height: 100%;
  z-index: 9999;
  line-height: 18px;
  -webkit-box-shadow: #666666 0 0 3px;
  -moz-box-shadow: #666666 0 0 3px;
  box-shadow: #666666 0 0 3px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  /*@include transform(translateX(-$sidebar));*/
}

/* line 29, ../scss/style.scss */
#left ul, #left li {
  margin: 0;
  padding: 0;
  font-size: 11px;
}

/* line 30, ../scss/style.scss */
#left li {
  list-style: none;
  display: inline;
}

/* line 31, ../scss/style.scss */
#left li:after {
  content: " - ";
  color: #999;
}

/* line 32, ../scss/style.scss */
#left li a {
  color: #999;
  text-decoration: none;
}
/* line 34, ../scss/style.scss */
#left li a.chosen {
  color: #000;
}

/* line 37, ../scss/style.scss */
.active #left {
  cursor: pointer;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  /*@include box-shadow(#333 0 0 14px);*/
}

/* line 44, ../scss/style.scss */
#right {
  height: 100%;
  position: fixed;
  width: 100%;
  background: url("handle.png") 5px no-repeat;
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 53, ../scss/style.scss */
.active #right {
  background: none;
  -webkit-transform: translateX(300px);
  -moz-transform: translateX(300px);
  -ms-transform: translateX(300px);
  -o-transform: translateX(300px);
  transform: translateX(300px);
}
/* line 58, ../scss/style.scss */
#right iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* line 63, ../scss/style.scss */
.cover {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  padding-top: 20px;
  padding-left: 20px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
}
/* line 75, ../scss/style.scss */
.cover:after {
  content: "";
}
/* line 79, ../scss/style.scss */
.active .cover {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}
/* line 84, ../scss/style.scss */
.loading .cover:after {
  font-style: italic;
  font-size: 18px;
  content: "Loading..";
  color: #fff;
}

/* line 93, ../scss/style.scss */
.element {
  width: 300px;
  height: auto;
  border-bottom: 1px solid #ccc;
}
/* line 98, ../scss/style.scss */
.element:hover {
  background: #679fd2;
}
/* line 99, ../scss/style.scss */
.element:hover .title {
  color: #fff;
}
/* line 100, ../scss/style.scss */
.element:hover .description {
  color: #ddd;
}

/* line 105, ../scss/style.scss */
.content {
  font-size: 12px;
  padding: 8px 12px;
  color: #777;
}
/* line 110, ../scss/style.scss */
.content .title {
  color: #333;
  margin-bottom: 6px;
}
/* line 115, ../scss/style.scss */
.content .description {
  font-size: .9em;
}

/* line 121, ../scss/style.scss */
.featured .title:after {
  font-size: 10px;
  margin-left: 10px;
  content: "featured";
  background: #ff9500;
  color: #fff;
  padding: 2px 5px;
  padding-top: 1px;
  border-radius: 2px;
}

/* line 133, ../scss/style.scss */
.loading .cover {
  background: rgba(155, 155, 155, 0.5);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 138, ../scss/style.scss */
#sitename, #filters, #sort {
  width: 270px;
  margin: 0 auto;
  clear: both;
  margin-top: 8px;
  margin-bottom: 8px;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 8px;
}

/* line 148, ../scss/style.scss */
#sitename {
  font-family: serif;
  font-size: 14px;
  font-style: italic;
  color: #333;
  font-weight: bold;
}

/* line 156, ../scss/style.scss */
#sort:before, #filters:before {
  font-size: 11px;
  color: #ff9500;
  float: left;
  display: block;
  margin-right: 8px;
  width: 30px;
}

/* line 158, ../scss/style.scss */
#sort:after, #filters:after {
  outline: 1px solid red;
}

/* line 160, ../scss/style.scss */
#filters:before {
  content: "filters";
}

/* line 162, ../scss/style.scss */
#sort:before {
  content: "sort";
}

/* line 164, ../scss/style.scss */
.colophon {
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ff0000), color-stop(100%, transparent));
  background: -webkit-linear-gradient(bottom, #ff0000, transparent);
  background: -moz-linear-gradient(bottom, #ff0000, transparent);
  background: -o-linear-gradient(bottom, #ff0000, transparent);
  background: linear-gradient(bottom, #ff0000, transparent);
  width: 276px;
  padding: 12px;
  font-size: 10px;
  color: #777;
  position: absolute;
  bottom: 0;
}

/* line 174, ../scss/style.scss */
.chosen {
  color: #000;
}
