@import "vars";
@import "fonts";
@import "compass/reset";
@import "compass/css3";
@import "antiscroll";


body { 
  font-family: "shanti", sans-serif; 
  @include box-sizing(border-box);

}

#wrapper { width:100%; height:100%; }

#left {
  width:300px;
  position:fixed;
  background:#fff;
  height:100%;
  z-index:9999;
  line-height:18px;

  @include box-shadow(#666 0 0 3px);
  @include transition();
  /*@include transform(translateX(-$sidebar));*/
}

#left ul, #left li { margin:0; padding:0; font-size:11px; }
#left li { list-style:none; display:inline; }
#left li:after { content: " - "; color:#999; }
#left li a { 
  color:#999; text-decoration:none; 
  &.chosen { color:#000; }
}

.active #left { 
  cursor:pointer;

  @include transform(translateX(0));
  /*@include box-shadow(#333 0 0 14px);*/
}

#right {
  height:100%;
  position:fixed;
  width:100%;
  background:url("handle.png") 5px no-repeat;

  @include transform(translateX(10px));
  @include transition();

  .active & {
    background:none;
    @include transform(translateX(300px));
  }

  iframe {
    width:100%; height:100%; border:0;
  }
}

.cover {
  width:100%; 
  height:100%; 
  position:absolute; 
  z-index:999; 
  opacity:0;
  visibility:hidden;
  padding-top:20px;
  padding-left:20px;

  @include transition-property();

  &:after{
    content: "";  
  }

  .active & {
    visibility:visible;
    @include opacity(.2);
  }

  .loading &:after {
    font-style:italic;
    font-size:18px;
    content: "Loading..";
    color:#fff;

  }
}

.element { 
  width:300px;
  height:auto;
  border-bottom:1px solid #ccc;

  &:hover{
    .title { color:#fff; }
    .description { color:#ddd; }
    background:$blue;
  }
}

.content { 
  font-size:12px;
  padding:8px 12px;
  color:#777;

  .title {
    color:#333;
    margin-bottom:6px;
  }

  .description {
    font-size:.9em;
  }

}

.featured .title:after { 
  font-size:10px; 
  margin-left:10px; 
  content: "featured"; 
  background:$orange; 
  color:#fff;
  padding:2px 5px;
  padding-top:1px;
  border-radius:2px; 
}


.loading .cover { 
  background:rgba(155, 155, 155, .5);
  @include opacity(1);
}

#sitename, #filters, #sort {
  width: $sidebar;
  margin:0 auto;
  clear:both;
  margin-top:8px;
  margin-bottom:8px;
  border-bottom:1px dotted #ccc;
  padding-bottom:8px;
}

#sitename { 
  font-family:serif;
  font-size:14px;
  font-style:italic;
  color:#333;
  font-weight:bold;
}

#sort:before, #filters:before { font-size:11px; color:$orange; float:left; display:block; margin-right:8px; width:30px; }

#sort:after, #filters:after { outline:1px solid red;}

#filters:before { content: "filters"; }

#sort:before { content: "sort"; }

.colophon { 
  @include background(linear-gradient(bottom, #f00, transparent));
  width: $sidebar + 6px;
  padding: 12px;
  font-size:10px;
  color:#777;
  position: absolute;
  bottom:0;
}

.chosen {
  color:#000;
}